
homeworks/homework2/homework2.aux
homeworks/homework2/homework2.bbl
homeworks/homework2/homework2.blg
homeworks/homework2/homework2.fdb_latexmk
homeworks/homework2/homework2.fls
homeworks/homework2/homework2.log
homeworks/homework2/homework2.out
homeworks/homework2/homework2.pdf
homeworks/homework2/homework2.synctex.gz
